/* Footer.module.css */

.footer {
  @apply bg-gray-800 text-white text-center p-4;
}

.links {
  @apply flex flex-wrap justify-center gap-4 mb-2;
}

.link {
  @apply text-sm text-gray-400 hover:underline;
  text-decoration: none; /* Remove default underline */
}

.copy {
  @apply text-xs;
}
